.header_nav {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_nav > img {
  height: 60px;
  width: 200px;
}

.header_nav > div {
  width: 400px;
}

.header_nav > div > input {
  padding: 6px;
  width: 100%;
}
